:root {
  --text: #ffffff;
  --text-h: #000;
  --text-span: #ff8d28;
  --bg: #000;
  --bg-active: #433535;
  --footer: #433535;
  --sans: "Inter", sans-serif;
  --heading: "Inter", sans-serif;
}

body {
  background-color: var(--bg);
  padding: 18px;
}
