:root {
  --text: #ffffff;
  --text-h: #000;
  --text-span: #ff8d28;
  --bg: #000;
  --footer: #433535;

  --sans: inter, sans-serif;
  --heading: inter, sans-serif;
}

body {
  background-color: var(--bg);
  padding: 18px;
}
